.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link.is-active(href="/#about-section" data-scroll) Про нас
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="/#pets-section" data-scroll) Наши бенгалы
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="/#gallery-section" data-scroll) Галерея
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="/#consult-section" data-scroll) Как купить
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="/#faq-section" data-scroll) Faq
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="/#contacts-section" data-scroll) Контакты
