section.about-section.parallax-section#about-section
    svg.foot-bg.foot-bg--1(width="130" height="115")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--2(width="82" height="86")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--3(width="79" height="82")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--4(width="115" height="120")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--5(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--6(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")

    .about-section__container
        .about-section__left
            .about-section__picture-group
                picture.about-section__picture.animation-left(data-delay="0.2")
                    img.about-section__picture-img(src="img/about-img.webp" srcset="img/about-img@2x.webp 2x" loading="lazy" width="420" height="420" alt="alt")

                .about-section__logo.animation-up(data-delay="0.6")
                    img.about-section__logo-img(src="img/logo-single.svg" width="75" height="75" loading="lazy" alt="logo")

        .about-section__right.animation-down(data-delay="0.4")
            h2.about-section__title Про нас

            .about-section__text
                p Профессиональный питомник бенгальских кошек. Питомник занимается разведением  бенгальских кошек коричневого и серебрянного окрасов.
                p Регистрация в международных  фелинологических системах WCF и TICA . Оказание консультационных фелинологических услуг, вопросы питания, здоровья, поведения бенгалов. Продажа котят.
