section.cats-section#cats-section
    .cats-section__container
        .cats-section__item
            .cats-section__col.animation-right(data-delay="0.2")
                picture.cats-section__picture
                    img.cats-section__picture-img(src="img/cats-img-1.webp" srcset="img/cats-img-1@2x.webp 2x" loading="lazy" width="971" height="589" alt="alt")

            .cats-section__col.animation-left(data-delay="0.2")
                .cats-section__content
                    h3.cats-section__title.gold-color ЗДОРОВЫЕ КОШКИ

                    .cats-section__text
                        p Наши бенгальские кошки - это здоровые животные, которые прошли двойную вакцинацию, четыре раза прошли дегельминтизацию, получили чипирование и паспорт. Взрослые особи регулярно проходят проверку на различные заболевания, включая HCM/PKD, PRA/PKDef, FeLV/FIV, TTF, криптоспоридии и лямблии, при этом они ежегодно вакцинируются и проходят осмотр у нашего ветеринара. 
                        p При покупке котенка вы получаете договор, который также служит гарантией, а также генеалогическое древо.
            
            .cats-section__pic
                svg.cats-section__pic-icon(width="68" height="58")
                    use(xlink:href="img/sprite.svg#heart")

        .cats-section__item
            .cats-section__col.animation-left(data-delay="0.2")
                picture.cats-section__picture
                    img.cats-section__picture-img(src="img/cats-img-2.webp" srcset="img/cats-img-2@2x.webp 2x" loading="lazy" width="971" height="589" alt="alt")

            .cats-section__col.cats-section__col--cat-bg.animation-right(data-delay="0.2")
                .cats-section__content
                    h3.cats-section__title.gold-color СОЦИАЛЬНЫЕ КОШКИ

                    .cats-section__text
                        p Наша коллекция бенгальских котят растет в домашней обстановке, в окружении взрослых Бенгалов. Они привыкают ко всем звукам, таким как шум пылесосов и стиральных машин, и не испытывают страха перед ними. Наша семья уделяет им особое внимание, что способствует формированию у них дружелюбного характера.
                        p Мы разводим кошек с осторожностью, делая акцент на качестве, а не на количестве пометов у каждой кошки.

            .cats-section__pic
                svg.cats-section__pic-icon(width="60" height="48")
                    use(xlink:href="img/sprite.svg#cat")

        .cats-section__item
            .cats-section__col.animation-right(data-delay="0.2")
                picture.cats-section__picture
                    img.cats-section__picture-img(src="img/cats-img-3.webp" srcset="img/cats-img-3@2x.webp 2x" loading="lazy" width="971" height="589" alt="alt")

            .cats-section__col.animation-left(data-delay="0.2")
                .cats-section__content
                    h3.cats-section__title.gold-color АКТИВНОЕ ОБЩЕНИЕ

                    .cats-section__text
                        p Мы регулярно обновляем наши фотографии, каждую неделю с помощью профессиональной камеры, чтобы поделиться последними моментами жизни наших питомцев с вами. Каждый день мы активно поддерживаем нашу активность в социальных сетях, рассказывая о жизни нашего питомника.
                        p Ваше письмо получит ответ в течение 24 часов, а после покупки вы всегда можете обращаться к нам для вопросов и советов по уходу за вашим новым котенком.
