section.consult-section#consult-section
    .consult-section__container
        h2.consult-section__title.animation-down(data-delay="0.2") Как 
            span.gold-bg купить / получить
            |  консультацию по нашим бенгалам

        ul.consult-section__list
            li.consult-section__item.animation-left(data-delay="0.2")
                .consult-card
                    .consult-card__number 01
                    p.consult-card__text Выберите бенгала, который вам понравился больше всего
            
            li.consult-section__item.animation-left(data-delay="0.4")
                .consult-card
                    .consult-card__number 02
                    p.consult-card__text Заполните небольшую заявку и выберите способ связи которой вам будет удобнее всего
            
            li.consult-section__item.animation-left(data-delay="0.6")
                .consult-card
                    .consult-card__number 03
                    p.consult-card__text После того как вы заполнили заявку, я свяжусь с вами и представлю все подробности
            
            li.consult-section__item.animation-left(data-delay="0.8")
                .consult-card.consult-card--black
                    .consult-card__number 04
                    p.consult-card__text В разделе контакты, вы можете связаться со мной напрямую удобным для вас способом

        .consult-section__buttons.animation-down(data-delay="0.2")
            a.button.consult-section__button(href="#pets-section" data-scroll) Наши бенгалы
            a.button.button--white.consult-section__button(href="#contacts-section" data-scroll) Наши контакты
