section.faq-section.parallax-section#faq-section
    svg.foot-bg.foot-bg--1(width="130" height="115")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--2(width="82" height="86")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--3(width="79" height="82")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--4(width="115" height="120")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--5(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--6(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")

    .container.faq-section__container
        h2.faq-section__title.animation-down(data-delay="0.2") Часто задаваемые вопросы

        .accordion.animation-down(data-delay="0.2")
            ul.accordion__list
                li.accordion__item
                    .accordion__panel
                        h3.accordion__header#accordion-header-1
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-1") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-1(role="region" aria-labelledby="accordion-header-1" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Заполните небольшую заявку и выберите способ связи которой вам будет удобнее всего
                
                    .accordion__panel
                        h3.accordion__header#accordion-header-2
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-2") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-2(role="region" aria-labelledby="accordion-header-2" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Заполните небольшую заявку и выберите способ связи которой вам будет удобнее всего
                    
                    .accordion__panel
                        h3.accordion__header#accordion-header-3
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-3") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-3(role="region" aria-labelledby="accordion-header-3" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Заполните небольшую заявку и выберите способ связи которой вам будет удобнее всего
                    
                    .accordion__panel
                        h3.accordion__header#accordion-header-4
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-4") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-4(role="region" aria-labelledby="accordion-header-4" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Заполните небольшую заявку и выберите способ связи которой вам будет удобнее всего

                li.accordion__item
                    .accordion__panel
                        h3.accordion__header#accordion-header-5
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-5") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-5(role="region" aria-labelledby="accordion-header-5" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In velit repellendus eaque impedit magni! Voluptatem quae error, sed facere facilis earum harum quam corporis quod, a aliquid qui, sequi dolore neque veritatis! Ex sed corrupti vel dolores tempore laboriosam quaerat fuga esse minima. Sit nam rem similique minima consequuntur repellendus?
                    
                    .accordion__panel
                        h3.accordion__header#accordion-header-6
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-6") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-6(role="region" aria-labelledby="accordion-header-6" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In velit repellendus eaque impedit magni! Voluptatem quae error, sed facere facilis earum harum quam corporis quod, a aliquid qui, sequi dolore neque veritatis! Ex sed corrupti vel dolores tempore laboriosam quaerat fuga esse minima. Sit nam rem similique minima consequuntur repellendus?
                    
                    .accordion__panel
                        h3.accordion__header#accordion-header-7
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-7") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-7(role="region" aria-labelledby="accordion-header-7" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In velit repellendus eaque impedit magni! Voluptatem quae error, sed facere facilis earum harum quam corporis quod, a aliquid qui, sequi dolore neque veritatis! Ex sed corrupti vel dolores tempore laboriosam quaerat fuga esse minima. Sit nam rem similique minima consequuntur repellendus?

                    .accordion__panel
                        h3.accordion__header#accordion-header-8
                            button.accordion__trigger(aria-expanded="false" aria-controls="accordion-content-8") Чем кормить бенгальских котят?
                                svg.accordion__icon(width="17" height="9")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .accordion__content#accordion-content-8(role="region" aria-labelledby="accordion-header-8" aria-hidden="true")
                            .accordion__inner
                                .accordion__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In velit repellendus eaque impedit magni! Voluptatem quae error, sed facere facilis earum harum quam corporis quod, a aliquid qui, sequi dolore neque veritatis! Ex sed corrupti vel dolores tempore laboriosam quaerat fuga esse minima. Sit nam rem similique minima consequuntur repellendus?
