section.gallery-section.parallax-section#gallery-section
    svg.foot-bg.foot-bg--1(width="130" height="115")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--2(width="82" height="86")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--3(width="79" height="82")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--4(width="115" height="120")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--5(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--6(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")

    .gallery-section__container
        h2.gallery-section__title.animation-down(data-delay="0.2") Галерея

        .swiper.gallery-slider.animation-down(data-delay="0.2")
            .swiper-wrapper
                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--1(href="img/gallery-img-1@2x.webp" data-pswp-width="1080" data-pswp-height="1088" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-1.webp" srcset="img/gallery-img-1@2x.webp 2x" loading="lazy" width="540" height="544" alt="alt")

                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--2(href="img/gallery-img-2@2x.webp" data-pswp-width="1080" data-pswp-height="518" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-2.webp" srcset="img/gallery-img-2@2x.webp 2x" loading="lazy" width="540" height="259" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-3@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-3.webp" srcset="img/gallery-img-3@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-4@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-4.webp" srcset="img/gallery-img-4@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt") 
                
                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-3@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-3.webp" srcset="img/gallery-img-3@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-4@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-4.webp" srcset="img/gallery-img-4@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt") 
                
                    a.gallery-slider__link.gallery-slider__link--2(href="img/gallery-img-2@2x.webp" data-pswp-width="1080" data-pswp-height="518" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-2.webp" srcset="img/gallery-img-2@2x.webp 2x" loading="lazy" width="540" height="259" alt="alt")

                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--1(href="img/gallery-img-1@2x.webp" data-pswp-width="1080" data-pswp-height="1088" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-1.webp" srcset="img/gallery-img-1@2x.webp 2x" loading="lazy" width="540" height="544" alt="alt")

                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--2(href="img/gallery-img-2@2x.webp" data-pswp-width="1080" data-pswp-height="518" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-2.webp" srcset="img/gallery-img-2@2x.webp 2x" loading="lazy" width="540" height="259" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-3@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-3.webp" srcset="img/gallery-img-3@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-4@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-4.webp" srcset="img/gallery-img-4@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt") 
                
                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-3@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-3.webp" srcset="img/gallery-img-3@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt")

                    a.gallery-slider__link.gallery-slider__link--3(href="img/gallery-img-4@2x.webp" data-pswp-width="510" data-pswp-height="510" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-4.webp" srcset="img/gallery-img-4@2x.webp 2x" loading="lazy" width="255" height="255" alt="alt") 
                
                    a.gallery-slider__link.gallery-slider__link--2(href="img/gallery-img-2@2x.webp" data-pswp-width="1080" data-pswp-height="518" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-2.webp" srcset="img/gallery-img-2@2x.webp 2x" loading="lazy" width="540" height="259" alt="alt")

                .swiper-slide.gallery-slider__slide
                    a.gallery-slider__link.gallery-slider__link--1(href="img/gallery-img-1@2x.webp" data-pswp-width="1080" data-pswp-height="1088" target="_blank") 
                        picture.gallery-slider__picture
                            img.gallery-slider__img(src="img/gallery-img-1.webp" srcset="img/gallery-img-1@2x.webp 2x" loading="lazy" width="540" height="544" alt="alt")

            .swiper-scrollbar.gallery-slider__scrollbar

        .gallery-section__buttons.animation-down(data-delay="0.2")
            a.button.gallery-section__more-button(href="#") Перейти на Instagram
                svg.button__icon(width="30" height="30")
                    use(xlink:href="img/sprite.svg#instagram")
