section.interesting-section#interesting-section
    .interesting-section__container
        h2.interesting-section__title.animation-down(data-delay="0.2") Интересное о 
            span.gold-color бенгалах

        .swiper.interesting-slider.animation-down(data-delay="0.2")
            .swiper-wrapper
                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-1.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title О бенгале
                        
                        .interesting-card__text
                            p Бенгальская кошка — очень молодая порода. Ее вывели в 1960-х годах от дикой азиатской леопардовой кошки из Южной Азии с домашней кошкой с целью получить доверчивую породу, в то же время внешне очень похожую на дикий тип с леопардовым рисунком. Его также разводят в Европе с середины 1980-х годов.

                        .interesting-card__number 01
                
                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-2.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title Характер
                        
                        .interesting-card__text
                            p Бенгалы, как и все живые существа, каждая кошка индивидуальна и имеет разные характеристики. Один приятный, другой очень игривый, третий очень тихий. В целом можно сказать, что бенгальцы очень любопытны, очень умны и очень подвижны. Поэтому не рекомендуется содержать эту породу в одиночестве. Конечно, как и всем домашним животным, очень важно уделять им достаточно внимания и, в частности, предоставлять бенгалам достаточные возможности для лазания и царапания. Многие бенгалы любят воду и принимают душ вместе со своими хозяевами.

                        .interesting-card__number 02
                
                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-3.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title Рисунок меха
                        
                        .interesting-card__text
                            p Бенгалы похожи на диких кошек . Есть бенгалы в черно-пятнистом окрасе, коричнево-тэбби, сил-линкс-пойнте, сил-минк-табби, серебристом. Мех мягкий, от короткой до средней длины . Рисунки очень разнообразны в виде розеток или мрамора (под мрамор). Рисунок очень четко выделяется на фоне основного цвета. Живот и горло должны быть почти белыми. Мех блестит и переливается.

                        .interesting-card__number 03

                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-1.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title Теление
                        
                        .interesting-card__text
                            p Тело бенгала имеет выраженную мускулатуру, но при этом филигранное и длинное телосложение. Бенгальцы обычно имеют внизу хвост средней длины. По сравнению с телом голова довольно маленькая, с маленькими ушами, но с высокими скулами, широким носом и преимущественно большими глазами цвета морской волны.

                        .interesting-card__number 04
                
                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-2.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title Обслуживание
                        
                        .interesting-card__text
                            p За бенгалами очень легко ухаживать, но вам также следует время от времени их расчесывать, что равносильно тому, чтобы делать добро и обниматься. Шерсть становится еще более блестящей .

                        .interesting-card__number 05
                
                .swiper-slide.interesting-slider__slide
                    .interesting-card
                        img.interesting-card__icon(src="img/interesting-icon-3.svg" width="63" height="63" loading="lazy" alt="")

                        h3.interesting-card__title Нечеткая фаза
                        
                        .interesting-card__text
                            p Шерсть бенгальских котят в процессе развития проходит разные стадии глубины фокусировки. Котята рождаются с очень четко структурированной и ярко выраженной окраской шерсти. Однако ситуация меняется примерно через 3-6 недель.

                        .interesting-card__number 06

            .swiper-scrollbar.interesting-slider__scrollbar