section.partners-section#partners-section
    .partners-section__container
        h2.partners-section__title.animation-down(data-delay="0.2") Наши  
            span.gold-bg партнеры

        ul.partners-section__list
            li.partners-section__item.animation-down(data-delay="0.2")
                picture.partners-section__picture
                    img.partners-section__img(src="img/partners-img-1.webp" srcset="img/partners-img-1@2x.webp 2x" loading="lazy" width="240" height="93" alt="alt")
            
            li.partners-section__item.animation-down(data-delay="0.2")
                picture.partners-section__picture
                    img.partners-section__img(src="img/partners-img-2.webp" srcset="img/partners-img-2@2x.webp 2x" loading="lazy" width="270" height="102" alt="alt")
            
            li.partners-section__item.animation-down(data-delay="0.2")
                picture.partners-section__picture
                    img.partners-section__img(src="img/partners-img-3.webp" srcset="img/partners-img-3@2x.webp 2x" loading="lazy" width="208" height="134" alt="alt")
            
            li.partners-section__item.animation-down(data-delay="0.2")
                picture.partners-section__picture
                    img.partners-section__img(src="img/partners-img-4.webp" srcset="img/partners-img-4@2x.webp 2x" loading="lazy" width="106" height="111" alt="alt")
            
            li.partners-section__item.animation-down(data-delay="0.2")
                picture.partners-section__picture
                    img.partners-section__img(src="img/partners-img-5.webp" srcset="img/partners-img-5@2x.webp 2x" loading="lazy" width="253" height="41" alt="alt")