section.pets-section#pets-section
    .pets-section__container
        h2.pets-section__title.animation-down(data-delay="0.2")
            span.gold-bg Давайте познакомимся
            |  с нашими прекрасными бенгальскими кошками

        ul.pets-section__list
            li.pets-section__item.animation-down(data-delay="0.2")
                .pet-card
                    .swiper.pet-slider.pet-card__slider
                        .swiper-wrapper
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-1.webp" srcset="img/pet-img-1@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-2.webp" srcset="img/pet-img-2@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-3.webp" srcset="img/pet-img-3@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-4.webp" srcset="img/pet-img-4@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")

                        button.pet-slider__prev(type="button" aria-label="previous slide")
                            svg.pet-slider__prev-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-left")

                        button.pet-slider__next(type="button" aria-label="next slide")
                            svg.pet-slider__next-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .pet-card__content
                        h3.pet-card__title АМБЕРСАНД МУСТАНГ

                        p.pet-card__descr Серебряный полосатый пятнистый бенгаал

                        .pet-card__buttons
                            button.button.button--md.pet-card__button(type="button" data-modal="modal-sell") Продажа
                            button.button.button--md.button--outline.pet-card__button(type="button" data-modal="modal-consult") Консультация
                            a.link-button.pet-card__link(href="#" data-modal="modal-pet") Подробнее
            
            li.pets-section__item.animation-down(data-delay="0.2")
                .pet-card
                    .swiper.pet-slider.pet-card__slider
                        .swiper-wrapper
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-2.webp" srcset="img/pet-img-2@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-3.webp" srcset="img/pet-img-3@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-4.webp" srcset="img/pet-img-4@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-1.webp" srcset="img/pet-img-1@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")

                        button.pet-slider__prev(type="button" aria-label="previous slide")
                            svg.pet-slider__prev-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-left")

                        button.pet-slider__next(type="button" aria-label="next slide")
                            svg.pet-slider__next-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .pet-card__content
                        h3.pet-card__title АМБЕРСАНД МУСТАНГ

                        p.pet-card__descr Серебряный полосатый пятнистый бенгаал

                        .pet-card__buttons
                            button.button.button--md.pet-card__button(type="button" data-modal="modal-sell") Продажа
                            button.button.button--md.button--outline.pet-card__button(type="button" data-modal="modal-consult") Консультация
                            a.link-button.pet-card__link(href="#" data-modal="modal-pet") Подробнее
            
            li.pets-section__item.animation-down(data-delay="0.2")
                .pet-card
                    .swiper.pet-slider.pet-card__slider
                        .swiper-wrapper
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-3.webp" srcset="img/pet-img-3@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-4.webp" srcset="img/pet-img-4@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-1.webp" srcset="img/pet-img-1@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-2.webp" srcset="img/pet-img-2@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")

                        button.pet-slider__prev(type="button" aria-label="previous slide")
                            svg.pet-slider__prev-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-left")

                        button.pet-slider__next(type="button" aria-label="next slide")
                            svg.pet-slider__next-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .pet-card__content
                        h3.pet-card__title АМБЕРСАНД МУСТАНГ

                        p.pet-card__descr Серебряный полосатый пятнистый бенгаал

                        .pet-card__buttons
                            button.button.button--md.pet-card__button(type="button" data-modal="modal-sell") Продажа
                            button.button.button--md.button--outline.pet-card__button(type="button" data-modal="modal-consult") Консультация
                            a.link-button.pet-card__link(href="#" data-modal="modal-pet") Подробнее

            li.pets-section__item.animation-down(data-delay="0.2")
                .pet-card
                    .swiper.pet-slider.pet-card__slider
                        .swiper-wrapper
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-4.webp" srcset="img/pet-img-4@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-1.webp" srcset="img/pet-img-1@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-2.webp" srcset="img/pet-img-2@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")
                            
                            .swiper-slide.pet-slider__slide
                                picture.pet-slider__picture
                                    img.pet-slider__img(src="img/pet-img-3.webp" srcset="img/pet-img-3@2x.webp 2x" loading="lazy" width="895" height="475" alt="alt")

                        button.pet-slider__prev(type="button" aria-label="previous slide")
                            svg.pet-slider__prev-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-left")

                        button.pet-slider__next(type="button" aria-label="next slide")
                            svg.pet-slider__next-icon(width="15" height="29")
                                use(xlink:href="img/sprite.svg#arrow-right")

                    .pet-card__content
                        h3.pet-card__title АМБЕРСАНД МУСТАНГ

                        p.pet-card__descr Серебряный полосатый пятнистый бенгаал

                        .pet-card__buttons
                            button.button.button--md.pet-card__button(type="button" data-modal="modal-sell") Продажа
                            button.button.button--md.button--outline.pet-card__button(type="button" data-modal="modal-consult") Консультация
                            a.link-button.pet-card__link(href="#" data-modal="modal-pet") Подробнее
