section.products-section.parallax-section#products-section
    svg.foot-bg.foot-bg--1(width="130" height="115")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--2(width="82" height="86")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--3(width="79" height="82")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--4(width="115" height="120")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--5(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")
    
    svg.foot-bg.foot-bg--6(width="105" height="100")
        use(xlink:href="img/sprite.svg#foot")

    .container.products-section__container
        h2.products-section__title.animation-down(data-delay="0.2") Товары для  
            span.gold-bg животных

        .swiper.products-slider.animation-down(data-delay="0.2")
            .swiper-wrapper.products-slider__wrapper
                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Royal Canin (Роял Канін) Urinary Care
                        
                        p.product-card__descr Сухий корм для дорослих котів, який сприяє підтримці здоров'я та багато іншого тексту

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Purina Pro Plan (Пуріна Про План) Delicate Adult Lamb
                        
                        p.product-card__descr Сухий корм з ягням для котів

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-3.webp" srcset="img/product-img-3@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Credelio Cat by Elanco - Протипаразитарні жувальні та багато іншого тексту
                        
                        p.product-card__descr таблетки Кределіо від бліх та кліщів для котів

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Royal Canin (Роял Канін) Urinary Care
                        
                        p.product-card__descr Сухий корм для дорослих котів, який сприяє підтримці здоров'я та багато іншого тексту

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Purina Pro Plan (Пуріна Про План) Delicate Adult Lamb
                        
                        p.product-card__descr Сухий корм з ягням для котів

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

                .swiper-slide.products-slider__slide
                    .product-card
                        picture.product-card__picture
                            img.product-card__img(src="img/product-img-3.webp" srcset="img/product-img-3@2x.webp 2x" loading="lazy" width="292" height="292" alt="alt")
                        
                        .product-card__header
                            h3.product-card__title Credelio Cat by Elanco - Протипаразитарні жувальні та багато іншого тексту
                        
                        p.product-card__descr таблетки Кределіо від бліх та кліщів для котів

                        .product-card__buttons
                            a.button.button--md.product-card__button(href="#" data-modal="modal-sell") Продажа
                            a.link-button.link-button--black.product-card__link(href="#" data-modal="modal-product") Подробнее

            .swiper-scrollbar.products-slider__scrollbar
