section.banner-section.banner-section--thanks
    picture.banner-section__picture.animation-right(data-delay="0.8")
        source(srcset="img/thanks-img-mobile@2x.webp 2x, img/thanks-img-mobile.webp" width="320" height="474" media="(max-width: 767.98px)")
        img.banner-section__picture-img(src="img/thanks-img.webp" srcset="img/thanks-img@2x.webp 2x" loading="lazy" width="822" height="976" alt="alt")

    .container.banner-section__container
        .banner-section__content
            h1.banner-section__title.banner-section__title--small.animation-down(data-delay="0.2") Спасибо, вы сделали правильный выбор!

            .banner-section__descr.banner-section__descr--big.animation-down(data-delay="0.4")
                p Ваша заявка успешно принята.
                p В ближайшее время, я свяжусь с Вами для консультации по нашим прекрасным бенгальскими кошкам.

            .banner-section__buttons.animation-down(data-delay="0.6")
                a.button.banner-section__button(href="#") На главную
