section.world-section#world-section
    .world-section__container
        h2.world-section__title.animation-down(data-delay="0.2") Бенгальские котята породы “Bengal” доступны для приобретения в 
            span.gold-bg разных уголках мира

        p.world-section__descr.animation-down(data-delay="0.4") Мы доставляем котят породы Bengal в следующие страны, используя для перевозки самолеты услуги агента в Нидерландах или Бельгии, а для автомобильных перевозок - сертифицированную службу по доставке животных:

        .world-section__buttons.animation-down(data-delay="0.6")
            .world-section__button Доставка курьером
            .world-section__button Доставка Карго
        
        picture.world-section__picture.animation-down(data-delay="0.2")
            img.world-section__picture-img(src="img/world-map.webp" srcset="img/world-map@2x.webp 2x" loading="lazy" width="1108" height="598" alt="alt")
